h1,
h2,
h3,
h4,
h5,
.display-1,
.display-2,
.navbar-brand,
.btn,
.linksFooter {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body,
p,
a,
li,
span,
small {
  font-family: 'Nunito', sans-serif;
}

/* Optional font smoothing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAECE2;
}

/* ^ Essentials, for fonts and whole main ^ */

.bg-green-gradient-footer {
  background: linear-gradient(135deg, #006400, #318135, #5a8f5d);
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  background-color: #FAECE2;
}

.bg-green-gradient-header {
  background: linear-gradient(135deg, #006400, #318135, #5a8f5d);
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

main {
  background-color: #FAECE2;
}

/* ^ For colors and other stuff like header, footer, etc ^ */

.photo-card {
  cursor: pointer;
}

.photo-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.photo-card:hover .photo-overlay {
  transform: translateY(0);
}

/* For image hovering feature */

.mobile-sidebar {
  background-color: #FAECE2;
  height: 100vh;
  width: 300px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  margin-right: -5px;
  border-radius: 12px;
  background-image:
    linear-gradient(#FAECE2, #FAECE2),
    linear-gradient(135deg, #006400, #318135, #5a8f5d);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.mobile-sidebar.show {
  transform: translateX(0);
}

.overlay {
  pointer-events: none;
  background-color: #0000003c;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .width-md {
    width: 40% !important;
    flex: 0 0 auto !important;
  }
}

/* ^ For colors and other stuff like header, footer, etc ^ */

.object-fit-cover {
    object-fit: cover;
    object-position: center;
}

/* ^ For the other utility (like maybe image or custom text properties) ^ */